body{
    background:url(https://www.toptal.com/designers/subtlepatterns/patterns/white-waves.png);
}

    a{
    color: black;
    text-decoration: none;
     }
  
  a:hover{
    color: inherit;
  }
  
  nav span{
    margin-right: 10px;
  }
  
  .navbar-right{
    display: inline;
    background-color: rgba(139, 138, 138, 0.25);
    border-radius: 5px;
    padding: 10px;
  }
  
  button[type='submit']{
    margin: 10px 0 20px 0;
  }
  
  #show p{
    margin-bottom: 20px;
  }
  
  #show :nth-child(4){
    margin-bottom: 30px;
  }

  footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    margin-top: 200px;
  }